@import "tailwindcss";

@theme {
    --font-primary: 'DM Sans', sans-serif;
    --font-heading: "Lexend Deca", sans-serif;
    --color-orange: #E55812;
    --color-primary: #202C39;
    --color-green: #29CC39;
    --color-black: #000;
    --shadow-primary: 0px 0px 6px 0px #00000029;
    --shadow-secondary: 0px 0px 7px 0px #00000024;
    --radius-30px: 30px;
}

.bg-gradient-primary {
    background: linear-gradient(180deg, #FFEBE3 0%, #E6F2FF 90.93%);
}

.bg-gradient-primary-for.bg-gradient-primary-hover:hover{
    background: linear-gradient(180deg, #FFEBE3 0%, #E6F2FF 90.93%);
}

body {
    @apply font-primary text-primary font-medium;
}

h1, h2, h4, h6 {
    @apply font-heading font-bold
}

.navmenu ul li a{
    @apply border-b border-[#ddd] pb-3 lg:pb-0 lg:border-0 block
}

.navmenu ul li a:hover, .navmenu ul li a.active {
    @apply text-orange border-b border-orange pb-3 lg:pb-0 lg:border-0 
}

.about-slider .slick-track, .user-slider .slick-track {
    @apply flex gap-7 py-1
}

.about-slider .slick-list {
    @apply sm:overflow-visible
}

.about-slider .slick-current {
    @apply bg-gradient-to-b from-[#FFEBE3] to-[#E6F2FF]
}

.user-slider .slick-list {
    @apply sm:overflow-visible
}

.user-slider .slick-center {
    @apply scale-[1.1] opacity-100 z-[2] bg-gradient-to-b from-[#FFEBE3] to-[#E6F2FF] mx-2 sm:mx-5;
}

.user-slider .slick-current {
    @apply bg-gradient-to-b from-[#FFEBE3] to-[#E6F2FF]
}

.user-slider .slick-track {
    @apply flex gap-5 sm:gap-7 py-6
}

.copy-right a svg:hover path {
    @apply fill-orange
}

.collasible ul li {
    @apply text-base sm:text-lg md:text-[22px] font-semibold cursor-pointer
}

.collasible ul li.active {
    @apply text-orange font-bold
}

.sidebar nav ul li a{
    @apply flex gap-3.5 items-center font-semibold px-3.5 sm:px-4 py-3 sm:py-3.5 mb-2.5 sm:mb-3.5 text-sm sm:text-base
}

.sidebar nav ul li a.active , .sidebar nav ul li a:hover{
    @apply text-orange bg-[#E5581229] rounded-lg
}

.sidebar nav ul li a.active svg path , .sidebar nav ul li a:hover svg path{
    @apply fill-orange
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date{
    @apply text-left
}
table.dataTable > thead > tr > th{
    @apply border-none
}
table.dataTable > thead > tr > th,table.dataTable > tbody > tr > td{
    @apply text-sm py-4 text-nowrap
}
table.dataTable.stripe > tbody > tr:nth-child(odd) > *, table.dataTable.display > tbody > tr:nth-child(odd) > *{
    @apply shadow-none
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    @apply py-0.5 px-3 m-0 bg-orange text-white
}
.dataTables_wrapper .dataTables_length , .dataTables_wrapper .dataTables_filter{
    @apply mb-4 sm:mb-7 text-sm sm:text-base
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
    @apply text-sm sm:text-base
}
.Signature-tab .tab-item.active{
    @apply bg-orange text-white
}
.select-plan .plan.active{
    @apply border-primary
}
.select-plan .plan.active .plan-data{
    @apply bg-gradient-to-b from-[#eff0f1] to-[#eff0f1]
}
.select-plan .plan.active .plan-button{
    @apply bg-gradient-to-b from-[#202c39] to-[#202c39]
}
.select-plan .plan.active ul li svg circle{
    @apply fill-primary 
}
